<%= link_to 'Create New Message', "messages/new" %>

<% @messages.each do |m| %>
    <div class="message">
	<p><%= m.content %></p>
	<p>Created by: <%= User.find(m.user_id).first_name %></p>
	<p><%= m.updated_at %></p>
	<%= link_to 'View Message', ("/messages/%d" % m[:id]) %>
	
	<br><br>
    </div>
    
<% end %>


