<% @messages.each do |m| %>
    <div class="message">
	<p><%= m.content %></p>
	<p>Created by: <%= User.find(m.user_id).first_name %></p>
	<p><%= m.created_at %></p>
	<%= link_to 'Message', ("/messages/%d" % m[:id]) %>
	<%= link_to 'New Message', "messages/new" %>
	<br><br>
    </div>
    
<% end %>
