
<h1>Message</h1>
<%= @message.content %>
<h3>created by<br></h3>
<%= @user.first_name %>
<br><br>
	<%= link_to "Edit", "/messages/" + @id.to_s + "/edit" %>
	<%= link_to "Delete", @message, :confirm => "Are you sure?", :method => :delete %>
<h3>Responses</h3>

<% @responses.each do |r| %>
    <%= r.content %>
    <h4>created by: </h4>
    <%= r.user_id ? User.find(r.user_id).first_name : "no one" %>
    <%= link_to "edit response", "/messages/" + @id.to_s + "/Response/" + r.id.to_s %>
    <br><br><br>
<% end %>


<%= link_to "Create Response", @link %>

<%= link_to 'Back', "/messages" %>




