
<h1>Message</h1>
<%= @message.content %>
<h3>created by<br></h3>
<%= @user.first_name %>
<br><br>
<% if @message.user_id == session[:user_id] %>
	<%= link_to "Delete", @message, :confirm => "Are you sure?", :method => :delete %>
<% end %>
<h3>Responses</h3>



<% @responses.each do |r| %>
    <%= r.content %>
    <h4>created by: </h4>
    <%= r.user_id ? User.find(r.user_id).first_name : "no one" %><br><br><br>
    
<% end %>


<%= link_to "Create Response", @link %>

<%= link_to 'Back', "/messages" %>




