
<h1><%= @message.content %></h1>
<h4>created by</h4>
<%= @user.first_name %>

<% if @session_id == @user.id %>
	<%= link_to "Edit", "/messages/" + @id.to_s + "/edit" %>
	<%= link_to "Delete", @message, :confirm => "Are you sure?", :method => :delete %>
<% end %>
<br><br><br><br>
<h1>Responses</h1>

<% @responses.each do |r| %>
    <div><div><h2><%= r.content %></h2></div>created by: 
    <%= r.user_id ? User.find(r.user_id).first_name : "no one" %>
    <% if @session_id === r.user_id %>
    	<%= link_to "edit response", "/messages/" + @id.to_s + "/Response/" + r.id.to_s %>
    <% end %>
    </div>
    <br><br><br>
<% end %>


<%= link_to "Create Response", @link %>

<%= link_to 'Back', "/messages" %>




